body {
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/image.png);
}
.log{
    display: flex;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    text-align: left;
    padding: auto;
}
input[type=text] ,input[type=text],button{
    width: 350px;
    margin: 8px 2px;
    padding: 12px 30px;
    box-sizing: border-box;
    border-radius:5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
nav{
    text-align: left;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
}